<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="titleTag">{{this.mailService.chosenFlag.flagName}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Search Mails" class="mailsSearchBar"
    (ionChange)="this.getSearchedMails($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content class="mailsListContent">

  <ion-card>

    <ion-card-header
    *ngIf="this.mailService.mailHeads.length===0">

      No Mails In this Folder

    </ion-card-header>

  </ion-card>
  <ion-card>

    <ion-card-header
    *ngIf="this.mailService.chosenFlag.flagName==='Trash' ||
    this.mailService.chosenFlag.flagName==='Spam'">

      <ion-button (click)="this.clearMailFlag()">
        Clear {{this.mailService.chosenFlag.flagName}}
      </ion-button>

    </ion-card-header>

  </ion-card>

  <ion-list *ngFor="let mailHead of this.mailService.mailHeads"
  id="hP{{mailHead.mailObjectId}}" lines="full">

    <ion-item-sliding>
      <ion-item-options side="start">
        <ion-item-option color="success"
        *ngIf="mailHead.spam "
        (click)="this.restoreFlag(mailHead.mailObjectId,'Spam',$event)">
          <ion-icon slot="top" name="refresh-circle-outline"></ion-icon>
          Restore
        </ion-item-option>
        <ion-item-option color="success"
        *ngIf="mailHead.archived"
        (click)="this.restoreFlag(mailHead.mailObjectId,'Archive',$event)">
          <ion-icon slot="top" name="refresh-circle-outline"></ion-icon>
          Restore
        </ion-item-option>

        <ion-item-option color="success"
        *ngIf="mailHead.trashed"
        (click)="this.restoreFlag(mailHead.mailObjectId,'Trash',$event)">
          <ion-icon slot="top" name="refresh-circle-outline"></ion-icon>
          Restore
        </ion-item-option>
        <ion-item-option color="danger"
        *ngIf="!mailHead.archived"
        (click)="this.changeMailFlag(mailHead.mailObjectId,'Archive',$event)"
        expandable>
        <ion-icon slot="top" name="archive-outline"></ion-icon>
        Archive
        </ion-item-option>
      </ion-item-options>

      <ion-item class="mailHeadItem"
      *ngIf="this.mailService.getMailFlag(mailHead.mailFlagId).flagName !== 'Draft'">
        <ion-avatar slot="start" class="nosite">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label button
        (click)="this.readMail(this.mailService.chosenFlag.flagId,
        mailHead.mailObjectId,mailHead.mailServerId,mailHead.mailHeadId)">
          <p
          style="font-size: small;"
          *ngIf="this.mailService.getMailFlag(mailHead.mailFlagId).flagName !== 'Sent'; else sentHeader">
              {{mailHead.sender}}
          </p>
          <ng-template #sentHeader>
            <p
          style="font-size: small;">
              {{mailHead.mailReceipients[0]}}
          </p>
          </ng-template>
          <h2>
            {{mailHead.mailSubject}}
          </h2>
        </ion-label>
        <ion-label *ngIf="this.subtractDate(this.mailHead.creationTime)<24; else monthView"
        style="font-size: small;" slot="end" class="headTimeAndStatus">
          <ion-label color="{{this.mailService.getMailFlag(mailHead.mailFlagId).flaColor}}"
           slot="top">
            {{this.mailService.getMailFlag(mailHead.mailFlagId).flagName}}
          </ion-label >
            {{this.mailHead.creationTime?.getHours()}}:{{this.mailHead.creationTime?.getMinutes()}}
        </ion-label>
        <ng-template #monthView>
          <ion-label
          style="font-size: small;" slot="end">
          <ion-label color="{{this.mailService.getMailFlag(mailHead.mailFlagId).flaColor}}"
          style="font-size: smaller;" slot="top">
            {{this.mailService.getMailFlag(mailHead.mailFlagId).flagName}}
          </ion-label >
            {{this.getMonth(mailHead.creationTime?.getMonth())}} {{mailHead.creationTime?.getDate()}}
          </ion-label>
        </ng-template>
      </ion-item>


      <ion-item
      *ngIf="this.mailService.getMailFlag(mailHead.mailFlagId).flagName === 'Draft'">
        <ion-label button
        (click)="this.editMail(mailHead.mailObjectId)">
          <p
          style="font-size: small;">
          {{mailHead.mailReceipients[0]}}
          </p>
          <h2>
            {{mailHead.mailSubject}}
          </h2>
          <ion-label color="{{this.mailService.getMailFlag(mailHead.mailFlagId).flaColor}}"
          style="font-size: smaller;">
            {{this.mailService.getMailFlag(mailHead.mailFlagId).flagName}}
          </ion-label >
        </ion-label>
        <ion-label *ngIf="this.subtractDate(this.mailHead.creationTime)<24; else monthView"
        style="font-size: small;" slot="end">
          <ion-label color="{{this.mailService.getMailFlag(mailHead.mailFlagId).flaColor}}"
          style="font-size: smaller;" slot="top">
            {{this.mailService.getMailFlag(mailHead.mailFlagId).flagName}}
          </ion-label >
            {{this.mailHead.creationTime?.getHours()}}:{{this.mailHead.creationTime?.getMinutes()}}
        </ion-label>
        <ng-template #monthView>
          <ion-label
          style="font-size: small;" slot="end">
          <ion-label color="{{this.mailService.getMailFlag(mailHead.mailFlagId).flaColor}}"
          style="font-size: smaller;" slot="top">
            {{this.mailService.getMailFlag(mailHead.mailFlagId).flagName}}
          </ion-label >
            {{this.getMonth(mailHead.creationTime?.getMonth())}} {{mailHead.creationTime?.getDate()}}
          </ion-label>
        </ng-template>
      </ion-item>

      <ion-item-options side="end" >

      <ion-item-option color="spam-mails"
      *ngIf="!mailHead.spam"
      (click)="this.changeMailFlag(mailHead.mailObjectId,'Spam',$event)">
        <ion-icon slot="top" name="trash-bin-outline"></ion-icon>
        Spam
      </ion-item-option>

      <ion-item-option color="primary"
      *ngIf="this.mailService.getMailFlag(mailHead.mailFlagId).flagName === 'Draft'"
      (click)="this.readMail(this.mailService.chosenFlag.flagId,
      mailHead.mailObjectId,mailHead.mailServerId,mailHead.mailHeadId)">
        <ion-icon slot="top" name="glasses-outline"></ion-icon>
        View
      </ion-item-option>

        <ion-item-option color="danger" fill="clear"
        *ngIf="!mailHead.trashed"
        (click)="this.changeMailFlag(mailHead.mailObjectId,'Trash',$event)"
        expandable>
          <ion-icon slot="top" name="trash-outline"></ion-icon>
          Trash
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>
