<ion-header>
  <ion-toolbar>
    <ion-title>Mail Footers</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="mailFootersAdditionForm nosite">
    <ion-card-header>
      <ion-card-title>
        New Footer
      </ion-card-title>
      <ion-card-subtitle>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button color="danger"
            (click)="this.cloaseFooterCreator()">
              Close
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating" color="primary">Footer Name</ion-label>
        <ion-input type="text" placeholder="My official footer," class="footerName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Salutation</ion-label>
        <ion-input type="text" placeholder="Kind Regards," class="salutationIpt"></ion-input>
      </ion-item>
      <ion-button color="primary" fill="clear" class="createFooterBtn"
      (click)="this.createFooter()">Create Foter</ion-button>

      <ion-card class="addRecordForm nosite">
        <ion-item>
          <ion-label position="floating" color="primary">Footer Record</ion-label>
          <ion-input type="text" placeholder="John Doe | Director" class="footerRecordIpt"></ion-input>
        </ion-item>
        <ion-button color="success" fill="clear" class="addRecordBtn"
        (click)="this.addFooterRecord()">Add Record</ion-button>
        <ion-item class="fileRecordIpt">
          <ion-input type="file" class="addFileRecodeBtn"
          (change)="this.readFile($event)"></ion-input>
        </ion-item>
      </ion-card>


      <div class="vwMailFooterDetails nosite">
        <p style="font-size: small;">
            {{this.footerSalutation}}
        </p>
        <table>
            <tr>
                <td style="padding: 10px;box-sizing: boader-box;" class="footerMedia nosite">
                  <div class="vWMFDImgHolder">
                      <img src="{{this.footerMedia}}" class="vWMFDImgTag"
                      style="width: 110px;">
                  </div>
                </td>

                <td style="padding: 10px;box-sizing: boader-box;">
                    <div class="vWMFDCompanyDetails">
                        <p style="font-size: small;" *ngFor="let footerRecord of this.footerRecords">
                            {{footerRecord}}
                        </p>
                    </div>
                </td>

            </tr>
        </table>

      </div>


    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>
      {{this.users.getMainUser().firstName}}`s Footers
    </ion-list-header>

    <ion-item button (click)="this.openFooterCreator()">
      <ion-label>
        Add New
      </ion-label>
    </ion-item>

  <ion-item-sliding *ngFor="let mailFooter of this.mailService.mailFooters">
    <ion-item  button
    (click)="this.getMailFooter(mailFooter.id)">
      <ion-label>{{mailFooter.name}}</ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="this.removeFooter(mailFooter.id)">Delete</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  </ion-list>

</ion-content>
