
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{this.appDepartment.getDepartment().departmentName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="departmentDashbord ion-padding">

    <ion-list [inset]="true" class="departmentCreationForm">
      <ion-list-header>
        <h2>
          {{this.appDepartment.getDepartment().departmentName}}
        </h2>
      </ion-list-header>
      <ion-item>

        <ion-label>
          <p>
            Department Domain
          </p>
          <ion-label>
            {{this.appDepartment.getDepartment().departmentID}}
          </ion-label>
        </ion-label>

      </ion-item>
      <ion-item>

        <ion-label>
          <p>
            Department Organization
          </p>
          <ion-label>
            {{this.appOrganization.getOrganization().orgName}}
          </ion-label>
        </ion-label>

      </ion-item>
      <ion-item *ngIf="this.appOrganization.getOrganization().orgCreator ===  this.appUser.getMainUser().username">
          <ion-checkbox checked="{{this.appDepartment.getDepartment().recruiting}}" (ionChange)="this.departmentRecruitment(this.appDepartment.getDepartment().departmentID,
          $event)" slot="start"></ion-checkbox>
          <ion-label>
            Recruiting
          </ion-label>
      </ion-item>
    </ion-list>

    <ion-list [inset]="true" class="ion-padding departmentCreationForm">
      <ion-list-header>
        <h2>
          Resources
        </h2>
      </ion-list-header>
      <ion-item>
        <ion-label>
          <p>
            Mails
          </p>
          <ion-label>
            <ion-button fill="clear" color="primary" class="resourceLinkBtn"
            (click)="this.createMailAccount('department')">
              <ion-icon slot="start" name="add"></ion-icon>
              Add Mail Account
            </ion-button>
          </ion-label>

          <ion-item button *ngFor="let appMailAccount of this.appDepartment.mailAccounts"
          (click)="this.getMailLebels('department',appMailAccount.hostLoginAddress)">
            <ion-label>
              <p>
                {{appMailAccount.hostLoginAddress}}
              </p>
              {{appMailAccount.name}}
            </ion-label>
          </ion-item>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list [inset]="true" class="ion-padding departmentCreationForm">
      <ion-list-header>
        <h2>
          Members
        </h2>
      </ion-list-header>
      <ion-item *ngFor="let departmentMember of this.appDepartment.getDepartment().departmentMembers">
        <ion-label>
          <ion-card-title>
            {{departmentMember.name}}
          </ion-card-title>
          <ion-card-subtitle>
            {{departmentMember.status}}
          </ion-card-subtitle>
          <ion-button fill="clear" color="primary" class="resourceLinkBtn"
          (click)="this.createChangeUserStatusActionSheet(departmentMember.profile_link)"
          *ngIf="this.appOrganization.getOrganization().orgCreator === this.appUser.getMainUser().username">
            Change
          </ion-button>
        </ion-label>
      </ion-item>
    </ion-list>

  </div>
</ion-content>
