<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{this.organization.getOrganization().orgName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-header>

      <ion-card-title class="mailSubjectHeader">
        Subject: {{this.mailService.mailHead.mailSubject}}
      </ion-card-title>

      <ion-card-subtitle>
        <ion-chip *ngFor="let receipient of this.mailService.mailHead.mailReceipients">
          <ion-avatar>
            <img alt="{{receipient}}" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>{{receipient}}</ion-label>
          <ion-icon name="close-circle"
          (click)="this.removeRecipient(receipient)"></ion-icon>
        </ion-chip>
      </ion-card-subtitle>

      <ion-card-subtitle>
        <ion-chip *ngFor="let receipient of this.mailService.mailHead.mailCc">
          <ion-avatar>
            <img alt="{{receipient}}" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>{{receipient}}</ion-label>
          <ion-icon name="close-circle"
          (click)="this.removeCc(receipient)"></ion-icon>
        </ion-chip>
      </ion-card-subtitle>

      <ion-card-subtitle>
        <ion-chip *ngFor="let receipient of this.mailService.mailHead.mailBcc">
          <ion-avatar>
            <img alt="{{receipient}}" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>{{receipient}}</ion-label>
          <ion-icon name="close-circle"
          (click)="this.removeBcc(receipient)"></ion-icon>
        </ion-chip>
      </ion-card-subtitle>

      <ion-card-subtitle>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button color="primary"
            (click)="this.openCcOrBcc('Cc')">
              Cc
            </ion-button>
            <ion-button color="primary"
            (click)="this.openCcOrBcc('Bcc')">
              Bcc
            </ion-button>
            <ion-button color="primary"
            (click)="this.createAttachmentModal()">
              <ion-icon name="attach-outline" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button color="success"
            (click)="this.sendMail()">
              <ion-icon name="send-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-card-subtitle>

      <ion-card-subtitle class="nosite ccOrBccInput">
        <ion-item>
          <ion-input type="email" placeholder="{{this.ccOrBccFlag}}" class="ccOrBccInputTxt"></ion-input>
          <ion-button fill="clear" color="primary"
          (click)="this.addCcOrBcc()">
            <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-card-subtitle>

      <ion-card-subtitle>
        <ion-item>
          <ion-input type="email" placeholder="Receipient" class="receipientContact"></ion-input>
          <ion-button fill="clear" color="primary"
          (click)="this.addRecipient()">
            <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Subject</ion-label>
        <ion-input type="text" placeholder="{{this.mailService.mailHead.mailSubject}}"
        (ionChange)="this.setSubject($event)"></ion-input>
      </ion-item>

      <ion-textarea
      placeholder="{{this.mailService.mailBody.mailBodyPayload}}"
      spellcheck="true"
      class="MailWriterTxtArea"
      (ionChange)="this.getMailBoddy($event)">
    </ion-textarea>

    </ion-card-content>

  </ion-card>

</ion-content>
