
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{this.userService.getMainUser().firstName+' '+this.userService.getMainUser().lastName}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="membersDashboard ion-padding">

    <ion-list [inset]="true" class="memberAdditionForm">
      <ion-list-header>
        <h2>
          {{this.userService.getMainUser().firstName+' '+this.userService.getMainUser().lastName}}
        </h2>
      </ion-list-header>

      <ion-item>
        <ion-label>

          <p>
            First Name
          </p>
          {{this.userService.getMainUser().firstName}}
        </ion-label>

      </ion-item>

      <ion-item>
        <ion-label>

          <p>
            Last Name
          </p>
          {{this.userService.getMainUser().lastName}}
        </ion-label>

      </ion-item>

      <ion-item>
        <ion-label>

          <p>
            Personal Mail
          </p>
          {{this.userService.getMainUser().emailAddress}}
        </ion-label>

      </ion-item>

    </ion-list>



    <ion-list [inset]="true" class="ion-padding memberAdditionForm">
      <ion-list-header>
        <h2>
          Resources
        </h2>
      </ion-list-header>
      <ion-item>
        <ion-label>
          <p>
            Mails
          </p>
          <ion-label>
            <ion-button fill="clear" color="primary" class="resourceLinkBtn"
            (click)="this.createMailAccount('member')">
              <ion-icon slot="start" name="add"></ion-icon>
              Add Mail Account
            </ion-button>
          </ion-label>

          <ion-item button *ngFor="let appMailAccount of this.member.mailAccounts"
          (click)="this.getMailLebels(appMailAccount.accountType,appMailAccount.hostLoginAddress)">
            <ion-label>
              <p>
                {{appMailAccount.hostLoginAddress}}
              </p>
              {{appMailAccount.name}}
            </ion-label>
          </ion-item>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>