.reply-button{
    transform: rotate(-180deg);
}
.mailContent{
    background-color: aliceblue;
    color: black;
}

.mailReader{

    background-color: aliceblue;
    width: 100%;
    height: auto;
    overflow: scroll;

}

.nosite{
    display: none;
}