
<ion-content fullscreen="true">

  <ion-card class="mailCard">
    <ion-header>
      <ion-card-title>
        <h2>
          {{this.appUsers.getMainUser().firstName.toUpperCase() + ' ' +this.appUsers.getMainUser().lastName.toUpperCase()}}
        </h2>
      </ion-card-title>
    </ion-header>

    <ion-card-content>

      <ion-button fill="clear" expand="full" class="adAccountButton accountBts"
      *ngIf="this.appUsers.getMainUser().memberShips.length === 0"
      (click)="this.navigateTo('profile/organizations')">
        <ion-icon slot="start" name="add"></ion-icon>
        Create Orgaginzaion
      </ion-button>

      <ion-card
      *ngIf="this.appUsers.getMainUser().memberShips.length === 0">
        <ion-card-header>
          <ion-card-title>
            <ion-searchbar
            placeholder="Search Organization"
            (ionChange)="this.searchOrgs($event)">

            </ion-searchbar>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>

          <ion-button fill="clear" color="primary" class="addMembBtns"
          *ngFor="let searchedDept of this.sysDepartments.searchedDepartments"
          (click)="this.createRequestMebershipModal(searchedDept.departmentID)">
            {{this.sysOrganaization.searchedOrgs[searchedDept.departmentOrganization].orgName}} >
            {{searchedDept.departmentName}}
          </ion-button>

        </ion-card-content>

      </ion-card>

      <ion-button fill="clear" expand="full" class="accountBts"
      *ngFor="let profileLink of this.appUsers.getMainUser().memberShips"
      (click)="this.setMembership(profileLink)">
        {{profileLink}}
      </ion-button>

    </ion-card-content>

  </ion-card>

</ion-content>
