<ion-content>

  <ion-card class="passwordResetMainCard">

    <ion-card-header>

      <ion-card-title>
        Password Reset
      </ion-card-title>
      <ion-card-subtitle>
        {{this.users.getMainUser().firstName}} {{this.users.getMainUser().lastName}}
      </ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>

      <ion-list>
        <ion-list-header>
          Choose member account to use for reset
        </ion-list-header>

        <ion-item button *ngFor="let userMembership of this.users.getMainUser().memberShips"
        (click)="this.setMemberDetails(userMembership)">
          <ion-label>
            {{userMembership}}
          </ion-label>
        </ion-item>

      </ion-list>

      <ion-list class="mailAccountsForm nosite">
        <ion-list-header>
          Choose mail account to use
        </ion-list-header>

        <ion-item button *ngFor="let userMailAccount of this.members.mailAccounts"
        (click)="this.setMailAccount(userMailAccount.hostLoginAddress,userMailAccount.accountType)">
          <ion-label>
            <p>
              {{userMailAccount.hostLoginAddress}}
            </p>
            {{userMailAccount.name}}
          </ion-label>
        </ion-item>

      </ion-list>

      <ion-button fill="clear" color="primary" class="genCodeBut nosite"
      (click)="this.generatePasswordReseteCode()">

        Generate Reset Code

      </ion-button>

      <ion-card class="confirCodeForm nosite">

        <ion-card-header>
          <ion-card-title>
            Confirm Code
          </ion-card-title>
        </ion-card-header>

        <ion-item>
          <ion-label position="floating" color="primary"> Reset Code</ion-label>
          <ion-input type="text" class="sentCode"></ion-input>
        </ion-item>

        <ion-button color="success" fill="clear" class="confirmCodeBt"
        (click)="this.confirmCode()">
          Confirm Code
        </ion-button>

      </ion-card>

      <ion-card class="changePasswordForm nosite">

        <ion-card-header>
          <ion-card-title>
            Change Password
          </ion-card-title>
        </ion-card-header>

        <ion-item>
          <ion-label position="floating" color="primary"> New paswword </ion-label>
          <ion-input type="password" class="newPassword"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="primary"> Confirm New paswword </ion-label>
          <ion-input type="password" class="passwordConfirmation"></ion-input>
        </ion-item>

        <ion-button color="warning" fill="clear" class="changePasswordBt"
        (click)="this.changePassword()">
          Change Password
        </ion-button>
      </ion-card>

    </ion-card-content>

  </ion-card>

</ion-content>
